

@{
    ViewBag.Title = "Casa";
}
<img class="fullscreen-video" src="@Url.Content("~/Content/Immagini/Slide/" + @ViewBag.Title + ".jpg")" />
@if (User.IsInRole("Admin"))
{
    <a href="@Url.Action("UploadSlide1", "Image", new{id = @ViewBag.Title})" title="Slide" class="btn btn-intro"><span class="fa fa-pencil fa-3x"></span></a>

}
<div class="div-counseling-top">
    <h2 >
        ---------------
    </h2>

</div>
<div class="div-counseling-bottom">
    <a href="@Url.Action("Casa", "Home")">
        <h1 class="alert alert-fiordiloto">Scritti&Opinioni...   <span class="fa fa-angle-right"></span></h1>
    </a>
</div>