

@{
    ViewBag.Title = "Casa";
}
<img class="fullscreen-video" src="@Url.Content("~/Content/Immagini/Slide/" + @ViewBag.Title + ".jpg")" />
@if (User.IsInRole("Admin"))
{
    <a href="@Url.Action("UploadSlide1", "Image", new{id = @ViewBag.Title})" title="Slide" class="btn btn-intro"><span class="fa fa-pencil fa-3x"></span></a>

}
<div class="div-counseling-top">
    <h2>
        La parola, la scrittura,<br />
        un femminile che genera.<br />
        Genera emozioni, racconti,<br />
        sensazioni, situazioni.<br />
        Lascia un segno.<br />
        Incide la carta, il cuore, il pensiero.
    </h2>
    <h2></h2>
    <h4 class="text-right">Federica Cavalli</h4>

</div>
<div class="div-counseling-bottom">
    <a href="@Url.Action("Casa", "Home")">
        <h1 class="alert alert-fiordiloto">Scritti&Opinioni...   <span class="fa fa-angle-right"></span></h1>
    </a>
</div>