@model FiordilotoMVC.Models.Eventi

@{
    ViewBag.Title = Model.Titolo;
}
<div class="container body-content-evento">

    <h1 class="text-center">@Model.Titolo</h1>
    <span>

        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("EditImgGalleria", "Eventis", new{id = @Model.Evento_Id})" class="text-primary h4" title="Galleria fotografica"><span class="fa fa-camera-retro"></span></a>
            <a href="@Url.Action("EditCredits", "Eventis", new{id = @Model.Evento_Id})" class="text-danger h4" title="Testo"><span class="fa fa-pencil-square-o"></span></a>
                                    <a href="@Url.Action("UploadIcona", "Icona", new{id = @Model.Evento_Id})" class="text-primary h4" title="Icona"><span class="fa fa-picture-o"></span></a>
                                    <a href="@Url.Action("UploadSlide", "Image", new{id = @Model.Evento_Id})" class="text-primary h4" title="Slide"><span class="fa fa-slideshare"></span></a>
        }
    </span>



</div>

<div class="div-evento">
    @if (System.IO.File.Exists(Server.MapPath("~/Content/Immagini/Slide/" + Model.Evento_Id + ".jpg")))
    {
        <img src="@Url.Content("~/Content/Immagini/Slide/" + Model.Evento_Id + ".jpg")" />
    }
    else
    {
        <img src="~/Content/Immagini/Scritta3.png" />
    }
</div>

<div class="container body-content">
    <h4 class="txt-bianco"><em>@Model.DescrizioneB</em></h4>
    <h4>@Html.Raw(Model.Descrizione)</h4>
    <hr class="hr1" />
    <h5><em>@Html.Raw(Model.Regia)</em></h5>
    <a type="button" data-toggle="modal" href="#@Model.Evento_Id">
        <span class="fa fa-pencil-square-o fa-2x btn-fiordiloto"></span>
    </a>

</div>

<div class="galla1">
    <hr class="hr3" />
    @foreach (var item in ViewBag.Immagini)
    {
        var filename = Path.GetFileName(item);
        <div>
            <span>
                <a href="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + @filename)" alt="" /></a>
            </span>

        </div>
    }

</div>



