@model IEnumerable<FiordilotoMVC.Models.Eventi>

@{
    ViewBag.Title = "Home";
}
<img class="fullscreen-video" src="@Url.Content("~/Content/Immagini/Slide/" + @ViewBag.Title + ".jpg")" />
@if (User.IsInRole("Admin"))
{
    <a href="@Url.Action("UploadSlide1", "Image", new{id = @ViewBag.Title})" title="Slide" class="btn btn-intro"><span class="fa fa-pencil fa-3x"></span></a>

}

@if (ViewBag.EventiCount > 0)
{
    <div class="div-index1">
        <div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
            <!-- Indicators -->

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @foreach (var item2 in Model.Select((value, i) => new { i, value }))
                {
                    if (@item2.i == 0)
                    {
                        <div class="item active">
                            <a href="@Url.Action("Evento", "Home", new {id = item2.value.Evento_Id })">
                                <img class="img-thumbnail" src="@Url.Content("~/Content/Immagini/Icona/" + item2.value.Evento_Id + ".jpg")" alt="" />
                                <div class="carousel-caption">
                                    <titolo>@item2.value.Titolo</titolo><br />
                                    <ora>@item2.value.Data.ToString("dddd dd MMM yyyy")</ora>
                                </div>
                            </a>
                        </div>

                    }
                    else
                    {
                            <div class="item">
                                <a href="@Url.Action("Evento", "Home", new {id = item2.value.Evento_Id })">
                                    <img class="img-thumbnail" src="@Url.Content("~/Content/Immagini/Icona/" + item2.value.Evento_Id + ".jpg")" alt="" />
                                    <div class="carousel-caption">
                                        <titolo>@item2.value.Titolo</titolo><br />
                                        <ora>@item2.value.Data.ToString("dddd dd MMM yyyy")</ora>
                                    </div>
                                </a>
                            </div>
                    }

                }
           </div>

        </div>
    </div>

}


@section Scripts {
    <link href="~/Content/CarouselFade.css" rel="stylesheet" />
    }
