@model IEnumerable<FiordilotoMVC.Models.Eventi>

@{
    ViewBag.Title = "Home";
}
@*<video class="fullscreen-video" autoplay loop>
    <source src="~/Content/Video/Figaro.mp4" type="video/mp4" />
</video>*@
<div>
        @*<img class="img-index" src="~/Content/Immagini/Eventi/313.jpg" />*@
    <iframe class="fullscreen-video" src="https://www.videoindexer.ai/embed/player/ec51ee069f" frameborder="0" allowfullscreen></iframe>

</div>

@if (ViewBag.EventiCount > 0)
{
    <div class="div-index1">
        <div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
            <!-- Indicators -->

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @foreach (var item2 in Model.Select((value, i) => new { i, value }))
                {
                    if (@item2.i == 0)
                    {
                        <div class="item active">
                            <a href="@Url.Action("Evento", "Home", new {id = item2.value.Evento_Id })">
                                <img src="@Url.Content("~/Content/Immagini/Icona/" + item2.value.Evento_Id + ".jpg")" alt="" />
                                <div class="carousel-caption">
                                    <titolo class="txt-viola">@item2.value.Titolo</titolo><br />
                                    <ora>@item2.value.Data.ToString("dddd dd MMM yyyy")</ora>
                                </div>
                            </a>
                        </div>

                    }
                    else
                    {
                            <div class="item">
                                <a href="@Url.Action("Evento", "Home", new {id = item2.value.Evento_Id })">
                                    <img src="@Url.Content("~/Content/Immagini/Icona/" + item2.value.Evento_Id + ".jpg")" alt="" />
                                    <div class="carousel-caption">
                                        <titolo>@item2.value.Titolo</titolo><br />
                                        <ora>@item2.value.Data.ToString("dddd dd MMM yyyy")</ora>
                                    </div>
                                </a>
                            </div>
                    }

                }
           </div>

        </div>
    </div>

}


@section Scripts {
    <link href="~/Content/CarouselFade.css" rel="stylesheet" />
    }
