@model FiordilotoMVC.Models.Eventi

@{
    ViewBag.Title = "Create";
}
<div class="container body-content">

    <h2 class="text-center txt-viola">Nuovo evento</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr class="hr1"/>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <section id="nocredits1">
                    <div class="row">

                        <div class="col col-md-2 text-center">
                            @Html.LabelFor(model => model.Vendita, htmlAttributes: new { @class = "control-label" })
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Vendita)
                                @Html.ValidationMessageFor(model => model.Vendita, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col col-md-2 text-center">
                            @Html.LabelFor(model => model.Didattica, htmlAttributes: new { @class = "control-label" })
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Didattica)
                                @Html.ValidationMessageFor(model => model.Didattica, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col col-md-2 text-center">
                            @Html.LabelFor(model => model.Corso, htmlAttributes: new { @class = "control-label" })
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Corso)
                                @Html.ValidationMessageFor(model => model.Corso, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col col-md-2 text-center">
                            @Html.LabelFor(model => model.Evidenza, htmlAttributes: new { @class = "control-label" })
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Evidenza)
                                @Html.ValidationMessageFor(model => model.Evidenza, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col col-md-2 text-center">
                            @Html.LabelFor(model => model.Counseling, htmlAttributes: new { @class = "control-label" })
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Counseling)
                                @Html.ValidationMessageFor(model => model.Counseling, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </section>
                <div class="row">
                    <div class="col col-md-2 text-center">
                        @Html.LabelFor(model => model.Casa, htmlAttributes: new { @class = "control-label" })
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.Casa, new {id = "casa" })
                            @Html.ValidationMessageFor(model => model.Casa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col col-md-2 text-center">
                        @Html.LabelFor(model => model.Credits, htmlAttributes: new { @class = "control-label" })
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.Credits, new { id = "credit" })
                            @Html.ValidationMessageFor(model => model.Credits, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
           </div>
           <hr class="hr3" />
           <div class="form-group">
                @Html.LabelFor(model => model.Titolo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Titolo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Titolo, "", new { @class = "text-danger" })
                </div>
            </div>


            <section id="credits">

                <div class="form-group">
                    @Html.LabelFor(model => model.Posizione, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Posizione, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Posizione, "", new { @class = "text-danger" })
                    </div>
                </div>

            </section>
            <div class="form-group">
                @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2", id = "lbldata" })
                <div class="col-md-10">
                    @*Incompatibilità jquery validation date per Chrome e FireFox*@
                    @{ if (Request.Browser.Browser != "IE")
                        {
                            Html.EnableClientValidation(false);
                        }

                    }
                    @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
                    @{ Html.EnableClientValidation(true);}
                </div>
            </div>


            <section id="nocredits">

                <div class="form-group">
                    @Html.LabelFor(model => model.Città, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Città, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Città, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.DescrizioneB, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DescrizioneB, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DescrizioneB, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Regia, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Regia, new { @class = "ckeditor" })
                        @Html.ValidationMessageFor(model => model.Regia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Partecipazioni, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Partecipazioni, new { @class = "ckeditor" })
                        @Html.ValidationMessageFor(model => model.Partecipazioni, "", new { @class = "text-danger" })
                    </div>
                </div>


            </section>

            <div class="form-group">
                @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Descrizione, new { @class = "ckeditor" })
                    @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crea evento" class="btn btn-success" />
                    @Html.ActionLink("Torna alla lista", "Index", null, new { @class = "btn btn-primary" })
             </div>
            </div>
        </div>
    }

    <div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            if ($('#credit').prop('checked')) {
                $('#credits').show();
                $('#nocredits').hide();
                $('#nocredits1').hide();
                $('#casa').hide();

            }
            else if ($('#casa').prop('checked')) {
                $('#credits').hide();
                $('#nocredits').hide();
                $('#nocredits1').hide();
                $('#casa').show();
            }
            else {
                $('#credits').hide();
            }

    });
    $('#credit').click(function () {
            if (this.checked) {
                $('#nocredits').hide();
                $('#nocredits1').hide();
                $('#credits').show();
                $('#casa').hide();
            }
            else {
                $('#nocredits').show();
                $('#nocredits1').show();
               $('#credits').hide();
                $('#casa').show();
           }
        })
    $('#casa').click(function () {
        if (this.checked) {
            $('#nocredits').hide();
            $('#nocredits1').hide();
            $('#credits').show();
            $('#credit').hide();
        }
        else {
            $('#nocredits').show();
            $('#nocredits1').show();
           $('#credits').hide();
            $('#credit').show();
       }
    })
</script>
}
