@model FiordilotoMVC.Models.ApplicationUser

@{
    ViewBag.Title = "Gestione utenti";
}
<div class="container body-content">
    <h2>@ViewBag.Title</h2>
    <div>
        <hr class="hr1" />
        <div class="row">
            <div class="col col-md-3">
                @Html.DisplayFor(model => model.UserName)<br />
            </div>
        </div>
    </div>
    <hr class="hr1" />
    <h4>Ruoli di appartenenza</h4>
    @Html.Display(User.Identity.Name.ToString())
    @if (ViewBag.RoleNames.Count == 0)
    {
        <hr />
        <p>Nessun ruolo assegnato a questo utente</p>
    }

    <table class="table">

        @foreach (var item in ViewBag.RoleNames)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Modifica", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Torna alla lista", "Index", null, new { @class = "btn btn-success" })
    </p>



</div>
