<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <a href="@Url.Action("Index", "Home")"><img class="img-scritta-nav" src="~/Content/Immagini/ScrittaNav1.png" /></a>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Come un fior di loto è...", "FDLIntro", "Home")</li>
                    <li>@Html.ActionLink("Spettacoli", "SpettacoliIntro", "Home")</li>
                    <li>@Html.ActionLink("Didattica", "DidatticaIntro", "Home")</li>
                    <li>@Html.ActionLink("Corsi", "CorsiIntro", "Home")</li>
                    <li><a href="@Url.Action("CounselingIntro", "Home")">TeatroCounseling<span class="h5">®</span></a>
                    <li>@Html.ActionLink("La nostre parole", "CasaIntro", "Home")</li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li><a href="@Url.Action("Index", "RolesAdmin")" class="glyphicon glyphicon-tag"></a></li>
                        <li><a href="@Url.Action("Index", "UsersAdmin")" class="glyphicon glyphicon-user"></a></li>
                        <li><a href="@Url.Action("Index", "Eventis")" class="glyphicon glyphicon-list-alt"></a></li>
                    }


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
        @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/lightbox-2.6.js")
    @RenderSection("scripts", required: false)
</body>
</html>
