@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <div>
                <a href="@Url.Action("IndexUs", "UsersAdmin")">
                    @if (File.Exists(Server.MapPath("~/Content/Immagini/FotoIscritti/" + @User.Identity.GetUserId() + ".jpg")))
                    {
                        <img class="img-login" src="@Url.Content("~/Content/Immagini/FotoIscritti/" + @User.Identity.GetUserId() + ".jpg")" />

                    }
                    else
                    {
                        <img class="img-login" src="@Url.Content("~/Content/Immagini/FotoIscritti/Anonimous.jpg")" />
                    }
                </a>
            </div>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out"></span></a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink(" ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="fa fa-pencil-square-o" })</li>*@
        <li>@Html.ActionLink(" ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "fa fa-sign-in" })</li>
    </ul>
}
